<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MyMemory</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1002177899060-27h0pbbrsitv56dnmdi34e1e0u7p3l8a</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>$(MAP_KEY)</string>
	<key>KAKAO_PHASE</key>
	<string>beta</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>사용자에게 새로운 메모를 알려주기 위해서 알림 설정이 필요합니다.</string>
	<key>REST_API</key>
	<string>$(REST_API)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>OwnglyphEuiyeonChae.ttf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Yeongdeok Sea.otf</string>
		<string>NeoDunggeunmo-Regular.ttf</string>
	</array>
</dict>
</plist>
