<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>KAKAO_APP_KEY</key>
	<string>$(MAP_KEY)</string>
    <key>KAKAO_PHASE</key>
    <string>beta</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진에 접근하려고 합니다</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치를 추적하려고 합니다</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>사용자의 위치를 추적하려고 합니다</string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSLocationUsageDescription</key>
	<string></string>
	<key>NSUserNotificationsUsageDescription</key>
	<string></string>
	<key>NSAppleMusicUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
