<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>$(MAP_KEY)</string>
	<key>KAKAO_PHASE</key>
	<string>beta</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string></string>
	<key>REST_API</key>
	<string>$(REST_API)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
